<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<br/>
<p class="f4 mb-4" align="justify">
I am a Ph.D. student in the Informatics program at Indiana University Luddy
School of Informatics, Computing, and Engineering.
My adviser is Dr.
<a target="blank_" href="http://cnets.indiana.edu/fil/">Filippo Menczer</a>
, working as part of the
<a target="blank_" href="https://osome.iuni.iu.edu/">Observatory on Social Media (OSoMe)</a>.
My research focuses on
<a target="blank_"
    href="https://news.iu.edu/stories/2019/09/iub/releases/12-botslayer-launch.html">the detection and characterization of malicious campaigns on social media</a>.
I work a lot on Twitter dataset to
</p>
<div align="left">
<ul class="f4 mb-4">
  <li>detect coordinated user accounts in malicious campaigns</li>
  <li>characterize malicious account behaviors at scale</li>
  <li>develop tools that everyone can use to combat malicious campaigns</li>
</ul>
</div>
<p class="f4 mb-4" align="justify">
In particular, I am one of the main developers for BEV and BotSlayer (see my
projects below).
I lead the backend developments, from streamer and database to algorithms and
containerization.
</p>
<p class="f4 mb-4" align="justify">
If you would like to <strong>contact me</strong>, please connect with me via the
Linkedin link
above.
Alternatively, you can check out my recent papers below. some of them contain my email
address.
</p>
