<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<br/>
<p class="f4 mb-4" align="justify">
I am a Ph.D. student in the Informatics program at Indiana University Luddy
School of Informatics, Computing, and Engineering, working as part of the
<a target="_blank" href="https://osome.iuni.iu.edu/">Observatory on Social Media (OSoMe)</a>.
My adviser is Dr.
<a target="_blank" href="http://cnets.indiana.edu/fil/">Filippo Menczer</a>
My research focuses on
<a target="_blank" href="https://news.iu.edu/stories/2019/09/iub/releases/12-botslayer-launch.html">the detection and characterization of malicious campaigns on social media</a>.
</p>
<p class="f4 mb-4" align="justify">
I work a lot on Twitter dataset to
<div style="padding-left:2rem" align="left">
<ul class="f4 mb-4">
  <li>Detect coordinated user accounts in malicious campaigns</li>
  <li>Characterize malicious account behaviors at scale</li>
  <li>Develop tools that everyone can use to combat malicious campaigns</li>
</ul>
</div>
<p class="f4 mb-4" align="justify">
I am one of the main developers in OSoMe (see my projects below).
In particular, I lead the development of BotSlayer, from streamer and database
to algorithms and containerization.
</p>
<p class="f4 mb-4" align="justify">
If you would like to <strong>contact me</strong>, please connect with me via the
Linkedin link above.
Alternatively, you can check out my recent papers below. Some of them contain my email
address.
</p>
